.footer .grid {
  padding: 0px!important;
}

.footer .col{
  padding: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.footer .signUp {
  background: #047aed;
}
.footer .login {
 background: #1fcbd4;
}