page-home {

}
.toolbar-background {
    background: #353344;
}
.toolbar-title {
    color: white!important;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: white;
}

.home-content .table-bordered[_ngcontent-c1]{

    font-size: 17px;
}

td, th{
    border: none!important;
}

.event-detail-container[_ngcontent-c0] {
    border: none;
}

.home-content .table-bordered[_ngcontent-c1] {
    background-image: url(../assets/img/calender_back.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


// New Home page
.ios page-home .scroll-content {
    background: white!important;
}


.home-page .main-content{
    background: #f2f8fd;
    border-radius: 4px;
    box-shadow: 19px;
    box-shadow: 0px 2px 4px 3px #e8e8e8
}