
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Planner</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="nutrition-planner">
  
<!--<progress-bar [progress]="55"></progress-bar>-->
   <div class="list">
        <ul class="experiences">

            <!-- Experience -->
            <li class="padd" >
                <div class="title-text">hjfjhfjhj <span>
                    <ion-icon ios="ios-add" (click)="goToPlannerList()" md="md-add"></ion-icon>
                    <!--<i ng-if="item.selected[0].selected != ''" class="ion-edit" ng-click="addFood(item,$index)"></i>-->
                </span>
                </div>
            </li>
            <li class="padd" >
                <div class="title-text">hjfjhfjhj 
                    <span>
                    <ion-icon ios="ios-add" (click)="goToPlannerList()" md="md-add"></ion-icon>
                    <!--<i ng-if="item.selected[0].selected != ''" class="ion-edit" ng-click="addFood(item,$index)"></i>-->
                </span>
                </div>
            </li>
            <li class="padd" >
                <div class="title-text">hjfjhfjhj 
                    <span>
                        <ion-icon ios="ios-add" (click)="goToPlannerList()" md="md-add"></ion-icon>
                        <!--<i ng-if="item.selected[0].selected != ''" class="ion-edit" ng-click="addFood(item,$index)"></i>-->
                    </span>
                </div>
            </li>

            
        </ul>
    </div>

</ion-content>