// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: "Dinpro";
    src: url("../fonts/Font_Dinpro/DINPro-Regular.ttf") /* TTF file for CSS3 browsers */
}
h1, h2, h3, h4, h5, h6, p, div, span {
    font-family: 'Dinpro' !important;
}

.menu-header {
    height: 124px;
    background: #f5f5f5;
}

.back-button-text{
    display: none;
}

.bar-button-default-md, .bar-button-clear-md-default {
    color: white;
}

.menu-list .label {
    font-size: 17px!important;
}

.segment-md .segment-button {
  color: #353344;
}

.platform-android .segment-md .segment-button {
    border: 1px solid rgba(72, 45, 45, 0.12) !important;
    border-radius: 50%;
}

.platform-android .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #353344 !important; 
}

ion-title {
    padding: 0 50px 0px !important;
}