
<ion-content padding>
    <div class="goal-content">
        <h1 align="center" class="animated slideInDown">GET STARTED</h1>
        <h4 align="center" class="animated slideInDown">Select your goal</h4>
        <!--<label class="item btn-item">-->
            <!--<button class="button button-block button-ubic" ng-click="selectGoal('Achive Goal')">ACHIEVE A GOAL WEIGHT</button>-->
        <!--</label>-->

        <!--<label class="item btn-item">-->
            <!--<button class="button button-block button-ubic" ng-click="selectGoal('Stay Fit')">STAY FIT</button>-->
        <!--</label>-->

        <div align="center" class="goal-div">
            <button ion-button class="goal-button" (click)="selectGoal('Achive Goal')">ACHIEVE A GOAL WEIGHT</button>
        </div>

        <div align="center">
            <button ion-button class="goal-button" (click)="selectGoal('Stay Fit')">STAY FIT</button>
    </div>
    </div>
</ion-content>
