.nutrition-food-list .item-main {
        border-bottom: .5px solid gray !important;
}

.nutrition-food-list ion-avatar img {
        width: 60px;
    height: 60px;
}

.nutrition-food-list .item-inner {
    border-bottom: none !important;
}

.nutrition-food-list .arrow-icon {
    float: right;
    font-size: 39px;
    margin-top: -24px;
}

.subContentList {

        background: #061648;
    border-bottom: 1px solid;
}