<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>FOOD LIST</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="nutrition-food-list">
  <scroll-tabs #scrollTab [tabs]="tabs" (onSelectedTab)="tabChange($event)"></scroll-tabs>

  <ion-list>
    <span  *ngFor="let item of selectedList let i = index" [attr.data-index]="i">
        <ion-item (click)="toggleDiv(i)" class="item-main" >
            <ion-avatar item-left>
                <img src="{{item.img}}" *ngIf="item.img != null">
                <img src="{{emptyImagepath}}" *ngIf="item.img == null">
            </ion-avatar>
            <h2>{{item.name}} </h2>
            <ion-grid>
              <ion-row >
                  <ion-col >{{item.types[0].quantity}}</ion-col>
                  <ion-col >{{item.types[0].serving_size}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        <span *ngIf="item.status" >
            <ion-row align="center" class="food-text">
              <ion-col width-33 class="texts">Quantity</ion-col>
              <ion-col width-33 *ngFor="let subItem of item.types ; let j = index"  [class.actives]="j == selectedRow" (click)="selectFood(subItem,i,j)">
                <p>{{subItem.quantity}}</p>
              </ion-col>
            </ion-row>
              
            <ion-row align="center" class="food-image">
              <ion-col width-33 class="texts">Serving Size</ion-col>
              <ion-col width-33 *ngFor="let subItem of item.types ; let j = index" [class.actives]="j == selectedRow" (click)="selectFood(subItem,i,j)">
                <img  src="{{subItem.image}}" *ngIf="subItem.image !==null">
                <img src="{{emptyImagepath}}" *ngIf="subItem.image ===null">
              </ion-col>
            </ion-row>
        </span>
    </span>
    <h3 *ngIf="selectedList.length == 0" align="center">No Food Available</h3>
  </ion-list>
</ion-content>